<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://i.ytimg.com/vi/prHuClGHtmY/maxresdefault.jpg"
          />
        </div>

        <mat-card-content>
          <h1>COVID 19</h1>
          <p>Enfermedad respiratoria muy contagiosa causada por el virus SARS-CoV-2. Se piensa que este virus se transmite de una persona a otra en las gotitas que se dispersan cuando la persona infectada tose, estornuda o habla.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://imagenes.elpais.com/resizer/yCEHK4i-HzqWvVhbj4TGXWavYyo=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/SLCNSIXT3F7XUW2ICPGNSLF3HI.jpg"
          />
        </div>

        <mat-card-content>
          <h1>Gripe Aviar</h1>
          <p>La gripe o influenza aviar (conocida también como gripe del pollo) es una enfermedad avícola causada por ciertos tipos de virus que normalmente infectan a las aves. Esta enfermedad es causada por varios virus de la gripe tipo A.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://www.cdc.gov/dengue/images/index/carousel-mosquito.jpg"
          />
        </div>
        <mat-card-content>
          <h1>Dengue</h1>
          <p>Enfermedad viral transmitida por los mosquitos y de prevalencia en las áreas tropicales y subtropicales.Aquellos que se contagian por segunda vez con el virus tienen un riesgo significativamente mayor de desarrollar la enfermedad de manera más grave. Los síntomas son fiebre alta, sarpullido y dolor en los músculos y las articulaciones. En los casos más graves puede haber hemorragia profusa y un shock, que pueden llevar a la muerte.</p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://www.fesemi.org/sites/default/files/images/informacion/info-pacientes/anemia.jpg"
          />
        </div>
        <mat-card-content>
          <h1>Anemia</h1>
          <p>Insuficiencia de glóbulos rojos saludables debido a la falta de hierro en el cuerpo.Debido a la deficiencia de hierro, los glóbulos rojos no pueden transportar suficiente oxígeno a los tejidos del cuerpo.La deficiencia de hierro suele ocasionar bajos niveles de glóbulos rojos (anemia) y puede retrasar el desarrollo del feto.</p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://content21.sabervivirtv.com/medio/2020/06/19/asma-ficha_39a5529b_1280x720.jpg"
          />
        </div>
        <mat-card-content>
          <h1>Asma</h1>
          <p>Afección en la que las vías respiratorias de una persona se inflaman, estrechan y producen mayores cantidades de mucosa de lo normal, lo que dificulta la respiración.El asma puede ser leve o puede interferir en las actividades diarias. En algunos casos, puede conducir a ataques mortales.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
